<div class="container-fluid">

  <h1>Question Answer App</h1>
  <div class="row">
    <div class="col-xs-4">
      {{#each model as |user|}}
        {{#link-to "user" user}}{{user.name}}{{/link-to}}
      {{/each}}
    </div>
    <div class="col-xs-8"></div>
  </div>
</div>